body {
	h1, h4{
		color: green;
		text-align: center;
	}
	#submitZip, #day3Button, #day7Button {
	background-color: #A4CFF0;
	}
}

.search-bar {
	width: 100%;
	background-color: #CEC3C3;
	text-align: center;
}
.social{
	margin: 100px;

}
